@tailwind base;
@tailwind components;
@tailwind utilities;

.gr{
  border:double 3px transparent;
  border-radius: 6px;
  background-image: linear-gradient(white,white),linear-gradient(to right, #4285f4,#ea4335,#fbbc05,#34a853);
  background-origin: border-box;
  background-clip: padding-box,border-box;
}

.dark .gr{
  border:double 3px transparent;
  border-radius: 6px;
  background-image: linear-gradient(#313131,#313131),linear-gradient(to right, #4285f4,#ea4335,#fbbc05,#34a853);
  background-origin: border-box;
  background-clip: padding-box,border-box;
}
input[type="search"]::-webkit-search-cancel-button{
  -webkit-appearance: none;
}
input[type="search"]::-moz-cancel-button{
  -moz-appearance: none;
}
input[type="search"]::-ms-clear{
  display: none;
}